@charset "utf-8";

/* CSS Document */
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #dcdee0bb;
}



@media screen and (min-width: 992px) {
    .swiper-container {
        display: none;
    }

    .list {
        font-size: 1.2em;
        padding: 10px;
    }

    h5 {
        font-size: 2.8em;
    }

  

    .alertt {
        display: none;
        padding: 0;
        margin: 0;
    }

    .cont {
        display: none;
    }

    .alertt .msg {

        font-size: 10px;
    }

}

